<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>670572546542-h9bqjj2im72gmdb2h2aku4cavtti3n89.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.670572546542-h9bqjj2im72gmdb2h2aku4cavtti3n89</string>
	<key>API_KEY</key>
	<string>AIzaSyBY8OolIOKT_41IAH_4URyRbfEHfopD4vg</string>
	<key>GCM_SENDER_ID</key>
	<string>670572546542</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nguyenbatu.doantotnghiep2020</string>
	<key>PROJECT_ID</key>
	<string>mangxahoi-b8d4d</string>
	<key>STORAGE_BUCKET</key>
	<string>mangxahoi-b8d4d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:670572546542:ios:83bae32d8267583d15a6ff</string>
	<key>DATABASE_URL</key>
	<string>https://mangxahoi-b8d4d.firebaseio.com</string>
</dict>
</plist>